#body-user #header::before,
#body-settings #header::before,
#body-public #header::before {
    background-color    : #777 !important;
    background-image    : url('<?php echo $unsplashImagePath; ?>') !important;
    background-image: url('<?php echo $unsplashImagePath; ?>')<?php if ($enableTint>0 ): ?>,
        linear-gradient(
            rgba(<?php echo $mainColorR; ?>, <?php echo $mainColorG; ?>, <?php echo $mainColorB; ?>, <?php echo $colorStrenght; ?>),
            rgba(<?php echo $mainColorR; ?>, <?php echo $mainColorG; ?>, <?php echo $mainColorB; ?>, <?php echo $colorStrenght; ?>)
        )<?php endif; ?>!important;

    <?php if ($enableTint>0 ): ?>
        background-blend-mode: luminosity, normal;
    <?php endif; ?>

    /*This is nessessary because ::before needs content to show up*/
    content: "";

    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

    background-position : center;
    background-repeat   : no-repeat;
    background-size     : cover;

    <?php if ($blurEnabled ): ?>
        -webkit-filter: blur(<?php echo $blurStrenght.'px';?>);
        -moz-filter: blur(<?php echo $blurStrenght.'px';?>);
        -o-filter: blur(<?php echo $blurStrenght.'px';?>);
        -ms-filter: blur(<?php echo $blurStrenght.'px';?>);
        filter: blur(<?php echo $blurStrenght.'px';?>);
    <?php endif; ?>

}

#body-user #header,
#body-settings #header,
#body-public #header{
    background-color: #000;
}


/* Header icons get drop shadow for visibility */
#header .logo.logo-icon,
#appmenu svg,
#more-apps div,
.searchbox input[type="search"],
.notifications .notifications-button img,
#contactsmenu .icon-contacts,
#expand .avatardiv-shown img,
#expand .expandDisplayName {
    /* Modified .icon-shadow with modified $color-box-shadow */
    filter : drop-shadow(0 0 3px rgba(50, 50, 50, .5)) !important;
}

/* Header icons get higher opacity for visibility */
#appmenu li a,
.searchbox input[type="search"],
#header .header-right > div > .menutoggle,
#header .header-right > form > .menutoggle {
	opacity: .9;
}

/* Remove primary color background of header bar app titles */
/* But get drop shadow for visibility */
#appmenu li:hover a + span,
#appmenu li a:focus + span,
#appmenu li:hover span,
#appmenu li:focus span,
#appmenu li a:focus span {
    opacity: .9;
    background: transparent;
    /* Modified .icon-shadow with modified $color-box-shadow */
    text-shadow: 0 0 3px rgba(50, 50, 50, .5) !important;
}

/* Nicer search box background */
.searchbox input[type="search"]:focus,
.searchbox input[type="search"]:active,
.searchbox input[type="search"]:valid {
    background-color : rgba(0, 0, 0, .5) !important;
    border           : none !important
}
