:root {
    --unsplash-header-image: url(../../../custom_apps/unsplash/img/pixel.gif);
}

#body-user #header,
#body-settings #header,
#body-public #header {
    background-color    : #777 !important;
    background-image    : var(--unsplash-header-image) !important;
    background-position : center;
    background-repeat   : no-repeat;
    background-size     : cover;
}