/* Needs more specificity to override theming app */
#body-login::before {
	background-color    : #777 !important;
	background-image: url('<?php echo $unsplashImagePath; ?>')<?php if ($enableTint>0 ): ?>,
		linear-gradient(
			rgba(<?php echo $mainColorR; ?>, <?php echo $mainColorG; ?>, <?php echo $mainColorB; ?>, <?php echo $colorStrenght; ?>),
			rgba(<?php echo $mainColorR; ?>, <?php echo $mainColorG; ?>, <?php echo $mainColorB; ?>, <?php echo $colorStrenght; ?>)
		)<?php endif; ?>!important;

	<?php if ($enableTint>0 ): ?>
		background-blend-mode: luminosity, normal;
	<?php endif; ?>

	/*This is nessessary because ::before needs content to show up*/
	content: "";

	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;
	width: 100%;
	height: 100%;

	background-position : center;
	background-repeat   : no-repeat;
	background-size     : cover;

	<?php if ($blurEnabled ): ?>
		-webkit-filter: blur(<?php echo $blurStrenght.'px';?>);
		-moz-filter: blur(<?php echo $blurStrenght.'px';?>);
		-o-filter: blur(<?php echo $blurStrenght.'px';?>);
		-ms-filter: blur(<?php echo $blurStrenght.'px';?>);
		filter: blur(<?php echo $blurStrenght.'px';?>);
		/*this is needed because blur creates a small, dark border which looks ugly. This rescales it to remove it*/
		transform: scale(1.03);
	<?php endif; ?>

}

#body-login {
	background-color: #000;
}


#body-login input.primary,
#body-login button.primary,
#body-login #alternative-logins li a {
    background-color : rgba(0, 0, 0, .5) !important;
}
