/* Needs more specificity to override theming app */
body#body-login {
    background-color    : #777 !important;
    background-position : center;
    background-repeat   : no-repeat;
    background-size     : cover;
}

#body-login {
	background-color: #000;
}


#body-login input.primary,
#body-login button.primary,
#body-login #alternative-logins li a {
    background-color : rgba(0, 0, 0, .5) !important;
}

/* Load more fitting image sizes based on screen resolution */
@media only screen and (min-width: 1921px) and (max-width: 2560px) {
	body#body-login {
		background-image: url('https://source.unsplash.com/featured/2560x1440?nature,nature') !important;
	}
}

@media only screen and (min-width: 2561px) {
	body#body-login {
		background-image: url('https://source.unsplash.com/featured/3840x2160?nature,nature') !important;
	}
}
