:root {
    --unsplash-image-small  : url(../../../custom_apps/unsplash/img/pixel.gif);
    --unsplash-image-medium : url(../../../custom_apps/unsplash/img/pixel.gif);
    --unsplash-image-large  : url(../../../custom_apps/unsplash/img/pixel.gif);
}

#body-login,
#body-public,
#body-user #header,
#body-settings #header {
    background-color    : rgba(0, 0, 0, 0) !important;
    background-image    : var(--unsplash-image-large) !important;
    background-position : center;
    background-repeat   : no-repeat;
    background-size     : cover;
}

@media all and (max-width : 640px ) {
    #body-login,
    #body-public,
    #body-user #header,
    #body-settings #header {
        background-image : var(--unsplash-image-small) !important;
    }
}

@media all and (max-width : 1920px ) {
    #body-login,
    #body-public,
    #body-user #header,
    #body-settings #header {
        background-image : var(--unsplash-image-medium) !important;
    }
}

/**
 * Login Page
 */
#body-login input.primary,
#body-login button.primary,
#body-login #alternative-logins li a {
    background-color : rgba(0, 0, 0, .5) !important;
}

/**
 * Header Stylesheet
 */
/* Header icons get higher opacity for visibility */
#appmenu li a,
.searchbox input[type="search"],
#header .header-right > div > .menutoggle,
#header .header-right > form > .menutoggle {
    opacity : .9;
}

.searchbox input[type="search"]:focus,
.searchbox input[type="search"]:active,
.searchbox input[type="search"]:valid {
    background-color : rgba(0, 0, 0, .5) !important;
    border           : none !important
}

/**
 * Public Pages
 */
#preview,
#body-public,
#body-public #content.app-files_sharing #app-content {
    background-color : transparent !important;
}

#body-public #header {
    background-color : rgba(0, 0, 0, .3) !important;
}

#body-public footer p,
#body-public footer a {
    color : var(--color-primary-text) !important;
}

/**
 * Unsplash Notification
 */
#unsplash-notification {
    display         : block;
    background      : #fff no-repeat 4px center;
    background-size : 40px;
    overflow        : hidden;
    box-sizing      : border-box;
    padding         : 4px 4px 4px 48px;
}

#unsplash-notification blockquote {
    font-style : italic;
    padding    : 0 0 4px;
    opacity    : 0.5;
    text-align : center;
    box-sizing : border-box;
}

#unsplash-notification div {
    text-align : center;
}

#unsplash-notification div:first-child {
    line-height : 40px;
}

/**
 * Unsplash Popup
 */
#unsplash-info {
    position      : absolute;
    right         : 15px;
    bottom        : 15px;
    cursor        : pointer;
    border-radius : 3px;
    width         : 20px;
    height        : 20px;
    background    : #fff url('../img/app-dark.svg') no-repeat center / 16px;
    opacity       : .5;
    transition    : opacity .25s ease-in-out;
}

#unsplash-info.dark {
    background-color : #303030;
    background-image : url('../img/app.svg');
}

#unsplash-info:focus,
#unsplash-info:active,
#unsplash-info:hover,
#unsplash-info.open {
    opacity : 1;
}

#unsplash-details {
    position        : absolute;
    right           : 15px;
    bottom          : 15px;
    border-radius   : 3px;
    background      : #fff no-repeat 4px center;
    background-size : 40px;
    padding         : 0;
    width           : 0;
    min-width       : 0;
    min-height      : 0;
    max-width       : 0;
    max-height      : 0;
    overflow        : hidden;
    box-sizing      : border-box;
    transition      : padding .25s ease-in-out, max-width .25s ease-in-out, max-height .25s ease-in-out, width .25s ease-in-out;
}

#unsplash-info.open #unsplash-details {
    padding    : 4px 4px 4px 48px;
    width      : 360px;
    max-width  : 360px;
    min-height : 48px;
    max-height : 128px;
    box-shadow : 0 0 3px 0 #303030;
}

#unsplash-details blockquote {
    font-style : italic;
    padding    : 0 4px 4px;
    opacity    : 0.5;
    width      : 308px;
    text-align : center;
    box-sizing : border-box;
}

#unsplash-details div {
    width      : 308px;
    text-align : center;
}

#unsplash-details div:first-child {
    line-height : 40px;
}